body {
    margin: 0px;
    font-family: Calibri;
}

.main {
    position: fixed;
    padding: 10px;
    border-radius: 25px;
    top: 10px;
    right: 10px;
    color: #DDA15E;
    background-color: #283618;
    transition: 0.3s;
}

main:hover {
    background-color: #364526;
}

.container {
    margin: 0px;
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regLabel {
    font-size: 30px;
    margin-bottom: 20px;
}

.regBlock {
    background-color: #DDA15E;
    width: 410px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#birthDate{
    width: 65%;
}

.birth label, .country label {
    width: 30%;
    margin-left: 10px;
    color: #283618;
    font-weight: bold;
}

#county {
    margin: 5px;
    width: 82%;
    height: 33px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

input {
    margin: 5px;
    width: 390px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

h1 {
    color: #30411e;
    margin: 10px;
}

.checkboxes {
    display: flex;
    margin-left: 10px;
}

#privicyPolitics, #userPolitics {
    display: block;
    width: 15px;
    height: 15px;
}

#regButton {
    color: #DDA15E;
    background-color: #283618;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    transition: 0.3s;
    font-size: 20px;
}

#regButton:hover {
    background-color: #364526;
}

@media(max-width: 510px) {
}